:root {
  --primary: #2260bf;
  --danger: #e11b22;
  --white: #fff;
  --primary-bg: #f4f6f8;
  --primary-gradient: linear-gradient(
    to bottom right,
    #342640,
    #3b2f4c,
    #393151,
    #323c67
  );
}

.container {
  margin: 0 200px;
}

.logo-wrapper {
  padding: 15px 0;
}

.logo {
  width: 250px;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: var(--primary);
}

/* .navbar > ul {
  margin-left: 150px;
  display: flex;
  gap: 50px;
}

.navbar > ul > li {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
} */

.navbar-list {
  gap: 50px;
  display: flex;
}

.navbar-list-data {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
}

.section-1 {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.tag {
  display: flex;
  justify-content: center;
}

.tag > span {
  background-color: var(--danger);
  border-radius: 4px;
  font-size: 18px;
  color: white;
  padding: 10px;
}

/* .section-1 > h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.section-1 > h2:hover {
  color: var(--primary);
} */

.section-1-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin: 0 80px;
}

.section-1-title:hover {
  color: var(--primary);
}

/* .section-1 > img {
  width: 100%;
} */

.section-1-image {
  width: 100%;
}

.section-1-content {
  text-align: center;
  margin: 0 80px;
}

hr {
  margin-bottom: 20px;
}

.section-2 {
  /* display: grid;
  grid-template-columns: 60% 35%;
  justify-content: space-between; */
  display: flex;
  gap: 40px;
  background-color: var(--primary-bg);
  height: 400px;
  padding: 30px;
  margin-bottom: 20px;
}

.section-2-left {
  background-image: url("./assets/section-1.gif");
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.section-2-left-title {
  font-size: 32px;
  color: white;
  padding: 20px;
  font-weight: 600;
}

.section-2-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  overflow: auto;
}

.section-2-right-content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.section-2-right-content:last-child {
  border-bottom: none;
}

.section-2-right-content-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.section-2-right-content-title {
  font-weight: 600;
}

.section-3-container {
  background-image: var(--primary-gradient);
}

.section-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px;
  gap: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
}

.section-3-item {
  background-image: url("./assets/section-1.gif");
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.section-3-item-1 {
  grid-area: 1 / 1 / span 2 / span 1;
}

.section-3-item-2 {
  grid-area: 1 / 2 / span 2 / span 1;
}

.section-3-item-title {
  font-size: 32px;
  color: white;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}

.grid-item {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav {
  background-color: rgba(34, 96, 191, 0.04);
  padding: 40px 0;
}

.footer-nav-title {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
}

.footer-nav-list-data {
  color: rgba(0, 0, 0, 0.48);
  font-weight: 600;
  margin-top: 5px;
}

@media only screen and (max-width: 300px) {
  body {
    background-color: rebeccapurple;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 50px;
  }

  .logo {
    width: 100px;
  }

  .navbar-list {
    gap: 10px;
  }

  .navbar-list-data {
    font-size: 20px;
  }

  .section-1 {
    gap: 10px;
  }

  .tag > span {
    font-size: 14px;
  }

  .section-1-title {
    font-size: 24px;
    margin: 0;
  }

  .section-1-content {
    margin: 0;
  }

  .section-2 {
    flex-wrap: wrap;
    gap: 20px;
  }

  .section-2-left {
    min-height: 20vh;
  }

  .section-2-left-title {
    font-size: 20px;
    padding: 10px;
  }

  .section-2-right {
    height: 20vh;
    overflow: auto;
  }

  .section-2-right-content {
    column-gap: 10px;
    padding-bottom: 10px;
  }

  .section-3-container {
    background-image: var(--primary-gradient);
  }

  .section-3 {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  .section-3-item {
    height: 20vh;
  }

  .section-3-item-1 {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .section-3-item-2 {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .section-3-item-title {
    font-size: 20px;
    padding: 10px;
  }
}
